<div class="container manga-list">
	<section class="row">

		<h4 class="col s12 m8 l9">
			<span>Favorites</span>
		</h4>

		<div class="input-field col s12  m2 l3">
			<input id="search_manga_input" type="text" data-bind="textInput:searchValue">
			<label for="search_manga_input">Search Manga...</label>
		</div>

	</section>
	<div id="manga-list"  class="row"  data-bind="foreach:filteredManga">
		<div class="col s12 m4 l2">
			<div class="card">
				<div class="card-image">
					<img src="http://placehold.it/200x250">
					<!-- <span class="card-title">Title</span> -->
					<a class="btn-floating halfway-fab waves-effect waves-light indigo"
						data-bind="click:$parent.toggleFavorites">
						<i class="material-icons" data-bind="isFavorite:isFavorite"></i>
					</a>
				</div>
				<div class="card-content" data-bind="text:mangaTitle" >
				</div>
			</div>
		</div>
	</div>
</div>
