node_modules
dist
app/bundle
npm-debug.log.*
save-file.json
src/js/common/folder.factory.js
thumbnail
thumbnails.json
*.bak
manga-db.json
*.log
*.gypi
*.db
images
e2e/data
app/.data
app/dev-app-update.yml
app/UnRAR.exe
docs-generated