<div class="sidebar ">
    <div class="sidebar-favorites-manga collection with-header ">
        <a href="javascript:void(0);" class="collection-item waves-effect waves-light" data-bind="click:showFavorites, active: isFavoritesActive">
            <i class="material-icons left">star</i>
            <strong class="grey-text text-darken-3"> Favorites</strong>
        </a>
    </div>
    <div class="sidebar-favorites collection with-header ">
        <a href="javascript:void(0);" class="collection-item waves-effect waves-light">
            <i class="material-icons left">bookmark</i>
            <strong class="grey-text text-darken-3"> Bookmarked Folders</strong>
        </a>
    </div>
    <ul class="sidebar-favorites-items collection" data-bind="foreach:bookmarks">
        <li class="item collection-item truncate" data-bind="
            click:$component.selectDirectory,
            active: $data.folderName === $parent.selectDirectoryText()">
            <span data-bind="text:folderName"></span>
        </li>
    </ul>
    <div class="sidebar-directory-header collection with-header">
        <a href="javascript:void(0);" class="collection-item waves-effect waves-light" data-bind="click:openDirectory">
            <i class="material-icons left">create_new_folder</i>
            <strong class="grey-text text-darken-3">Select directory</strong>

        </a>
    </div>
    <ul class="sidebar-directory list collection" data-bind="scroll,foreach: directories">
        <li class="item collection-item truncate" data-bind="
            style: { paddingLeft: paddingLeft() }, click:$parent.selectDirectory,
            active: $data == $parent.selectedDirectory()">
            <i class="material-icons left" data-bind="
            isOpenFolder:isOpen,
            click: toggleFolderOpen, clickBubble:false">
            folder
            </i>
            <span data-bind="text:folderName"></span>
        </li>
    </ul>
    <div class="collection sidebar-settings">
        <a href="javascript:void(0);" class="collection-item waves-effect waves-light">
            <i class="left material-icons">settings</i>
            <strong class="grey-text text-darken-3">Settings</strong>
        </a>
    </div>
</div>
