<div class="sidebar">
  <ul class="sidebar-favorites">
    <li class="favorites">
      <div>
        <i class="mr5 fa fa-star fa-lg"></i> Favorites
      </div>          
    </li>            
    <!-- <li class="divider"><hr></li> -->
    <li class="item">
      Stuff
    </li>
    <li class="item">
      One piece - chapter 4.zip
    </li>            
  </ul>
  <ul class="sidebar-directory header">
    <li class="divider"><hr></li>
    <li class="directory ">
      <div>
        <i class="mr5 fa fa-sitemap fa-lg"></i> Directory
        <i class="fa fa-plus fa-pull-right fa-2x open-directory" data-bind="click:openDirectory, tooltip"
        data-placement="left" title="Click to select a root folder"></i>    
      </div>

    </li>
  </ul>
  <ul class="sidebar-directory list" data-bind="scroll,foreach: directories">
    <li class="item ellipsis" data-bind="
      style: { paddingLeft: paddingLeft() }, click:$parent.selectDirectory, 
      selected: $data == $parent.selectedDirectory()">
        <i class="fa" data-bind="
        isOpenFolder:isOpen, 
        click: toggleFolderOpen">          
        </i>
        <span data-bind="text:folderName"></span>
    </li>
  </ul>
  <ul class="sidebar-settings">
    <li class="divider"><hr></li>
    <li >
      <div>
        <i class="fa fa-gear fa-lg control"></i> Settings
      </div> 
    </li>
  </ul>
</div>