<div id="about-modal" class="modal" data-bind="modal:shown, onComplete: onComplete">
    <div class="modal-content">
        <h4 class="valign-wrapper">
            <i class="material-icons help-icon"> help</i>
            <span class="header"> About</span>
        </h4>
        <hr>
        <p>
            <span> Version :</span> <span data-bind="text: version"></span>
        </p>
        <p>
            <span> Description: </span> <span data-bind="text:description"></span>
        </p>
        <p>
            <span> For issues, please contact me at: </span> <a data-bind="attr:{href:githubRepo}, text: githubRepo"></a>
        </p>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0);" class="modal-action modal-close waves-effect btn-flat ">Close</a>
    </div>
</div>