<div id="error-modal" class="modal" data-bind="modal:shown, onComplete:onComplete">
    <div class="modal-content">
        <h4 class="valign-wrapper">
            <i class="material-icons error-icon"> error</i>
            <span class="header"> Error</span>
        </h4>
        <hr>
        <p data-bind="text:errorMessage" class="error-message"></p>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0);" class="modal-action modal-close waves-effect btn-flat ">Close</a>
    </div>
</div>