<nav data-bind="listenTo:commands, context: 'topbar'">
	<div class="nav-wrapper">
		<a href="javascript:void(0);" class="topbar-text">
			<span>
				<span data-bind="text:topBarText"></span>
			</span>
		</a>
		<ul class="left">
			<li data-bind="ifnot: isShowBackToListButton">
				<a href="javascript:void(0);" class="left" data-bind="toggleNav:'.wrapper'" id="menu-btn">
					<i class="material-icons">menu</i>
				</a>
			</li>
			<li data-bind="if: isShowBackToListButton">
				<a href="javascript:void(0);" class="left" data-bind="click: backToList" id="back-to-list-btn">
					<i class="material-icons">arrow_back</i>
				</a>
			</li>
		</ul>
		<!-- ko if:selectedManga -->
		<ul class="center page-controls">
			<li class="to-previous">
				<a class="" href="javascript:void(0);" data-bind="click: goPrevPage,singlePulseEffect">
					<i class="material-icons cbutton__icon">navigate_before</i>
				</a>
			</li>
			<li>
				<span class="current-manga-page" data-bind="text:currentViewMangaPage() + 1"></span> /
				<span class="total-manga-page" data-bind="text:selectedManga().pages"></span>
			</li>
			<li class="to-next">
				<a href="javascript:void(0);" data-bind="click: goNextPage, singlePulseEffect">
					<i class="material-icons cbutton__icon">navigate_next</i>
				</a>
			</li>
		</ul>
		<ul class="right add-to-favorites" data-bind="visibility:!!selectedManga()">
			<li>
				<a data-bind="click:toggleFavorite, singlePulseEffect">
					<i class="material-icons" data-bind="isFavorite:isFavorite">star_border</i>
				</a>
			</li>
		</ul>
		<!-- /ko -->
		<!-- <form class="right" data-bind="visibility:!selectedManga()">
				<div class="input-field ">
						<input id="search" type="search" placeholder="Search manga..">
						<label class="label-icon" for="search"><i class="material-icons">search</i></label>
						<i class="material-icons">close</i>
				</div>
		</form> -->
	</div>
</nav>
<div class="progress col s12 m12 l12 " data-bind="visible:searching">
	<div class="indeterminate amber accent-4"></div>
</div>