<nav>
	<div class="nav-wrapper">
		<a href="javascript:void(0);" class="topbar-text">
			<span>
				<span data-bind="text:topBarText"></span>
			</span>
		</a>
		<ul class="left">
			<li>
				<a href="javascript:void(0);" class="left" data-bind="toggleNav:'.wrapper'">
					<i class="material-icons">menu</i>
				</a>
			</li>
		</ul>
		<!-- ko if:selectedManga -->
		<ul class="center page-controls">
			<li>
				<a class="" href="javascript:void(0);" data-bind="click: goPrevPage,singlePulseEffect">
					<i class="material-icons cbutton__icon">navigate_before</i>
				</a>
			</li>
			<li>
				<span data-bind="text:currentViewMangaPage() + 1"></span> /
				<span data-bind="text:selectedManga().pages"></span>
			</li>
			<li>
				<a href="javascript:void(0);" data-bind="click: goNextPage, singlePulseEffect">
					<i class="material-icons cbutton__icon">navigate_next</i>
				</a>
			</li>
		</ul>
		<ul class="right" data-bind="visibility:!!selectedManga()">
			<li>
				<a  data-bind="click:toggleFavorite,singlePulseEffect">
					<i class="material-icons" data-bind="isFavorite:isFavorite">star_border</i>
				</a>
			</li>
		</ul>
		<!-- /ko -->
		<!-- <form class="right" data-bind="visibility:!selectedManga()">
				<div class="input-field ">
						<input id="search" type="search" placeholder="Search manga..">
						<label class="label-icon" for="search"><i class="material-icons">search</i></label>
						<i class="material-icons">close</i>
				</div>
		</form> -->
	</div>
</nav>
