<section class="row">
	<h4 class="col s12">
	General Settings
	</h4>
</section>
<section class="row">
	<div class=" col s12">
		<div class="col l3">
			<div class="switch col s12">
				<label >
					Include subfolders
					<input type="checkbox" data-bind="switch:isRecursive">
					<span class="lever"></span>
					<span data-bind="text:isRecursiveText"></span>
				</label>
			</div>
		</div>
	</div>
</section>
<section class="row">
	<h4 class="col s12">
	Hotkeys
	</h4>
</section>
<section class="row" data-bind="foreach:commandsList">
	<div class=" col s12">
		<div class="col l4 valign-wrapper">
			<label class="settings-label valign col s6" data-bind="text:label"></label>
			<a class="waves-effect waves-light btn-flat settings-key col s6" data-bind="keybind:hotkey">
				<span class="settings-label" data-bind="text:hotkey"></span>
				<input type="text" class=" settings-input" data-bind="value:hotkey">
			</a>
		</div>
	</div>
</section>
