<div class="sidebar " data-bind="listenTo:commands, context: 'sidebar'">
    <div class="sidebar-favorites-manga collection with-header ">
        <a id="favorites-btn" href="javascript:void(0);" class="collection-item waves-effect waves-light" data-bind="click:showFavorites, active: isFavoritesActive">
            <i class="material-icons left">star</i>
            <strong class=""> Favorites</strong>
        </a>
    </div>
    <div class="sidebar-favorites collection with-header ">
        <a href="javascript:void(0);" class="collection-item waves-effect waves-light">
            <i class="material-icons left">bookmark</i>
            <strong class=""> Bookmarked Folders</strong>
        </a>
    </div>
    <ul class="sidebar-favorites-items collection" data-bind="foreach:bookmarks">
        <li class="item collection-item truncate bookmarked-folder" data-bind="
            click:$component.selectDirectory,
            active: $component.isFolderActive($data)">
            <span data-bind="text:folderName"></span>
        </li>
    </ul>
    <div class="sidebar-directory-header collection with-header">
        <a href="javascript:void(0);" class="collection-item waves-effect waves-light" data-bind="click:openDirectory" id="select-directory-btn">
            <i class="material-icons left">create_new_folder</i>
            <strong class="">Select directory</strong>

        </a>
    </div>
    <ul class="sidebar-directory list collection" data-bind="scroll,foreach: directories">
        <li class="item collection-item truncate" data-bind="
            style: { paddingLeft: paddingLeft() }, click:$component.selectDirectory,
            active: $component.isFolderActive($data)">
            <i class="material-icons left folder-toggle" data-bind="
            isOpenFolder:isOpen,
            click: toggleFolderOpen, clickBubble:false">
            </i>
            <span data-bind="text:folderName"></span>
        </li>
    </ul>
    <div class="collection sidebar-settings">
        <a id="settings-btn" href="javascript:void(0);" class="collection-item waves-effect waves-light" data-bind="active:isSettingsActive, click: showSettings">
            <i class="left material-icons">settings</i>
            <strong class="">Settings</strong>
            <i id="about-btn" class="right material-icons" data-bind="tooltip:'right', tooltipText: 'About', click: $component.showAboutDialog, clickBubble:false">help</i>
        </a>
    </div>
</div>