<section class="row">
	<h4 class="col s12">
		General Settings
	</h4>
</section>
<section class="row">
	<div class=" col s12">
		<div class="col s12 l3">
			<div class="switch col s12">
				<label>
					Include subfolders
					<input type="checkbox" data-bind="switch:isRecursive">
					<span class="lever"></span>
					<span data-bind="text:isRecursiveText"></span>
				</label>
			</div>
		</div>
	</div>
</section>
<section class="row">
	<div class=" col s12">
		<div class="col s12 l3">
			<div class="switch col s12">
				<label data-bind="tooltip:'right',tooltipText:isDetectUpdatesOnStartTooltip()">
					Automatically detect updates
					<input type="checkbox" data-bind="switch:isDetectUpdatesOnStart">
					<span class="lever"></span>
					<span data-bind="text:isDetectUpdatesOnStartText"></span>
				</label>
			</div>
		</div>
	</div>
</section>
<section class="row">
	<div class=" col s12">
		<div class="col s12 m12 l3">
			<div class="input-field col s12">
				<select data-bind="
					options:viewOptions,
					optionsText: 'text',
					optionsValue: 'value',
					value: viewOption,
					materialSelect:viewOption">
				</select>
				<label>Search and view options</label>
			</div>
		</div>
	</div>
</section>

<section class="row">
	<h4 class="col s12">
		Hotkey Shortcuts
	</h4>
</section>
<section class="row" data-bind="foreach:commandsList">
	<div class=" col s12">
		<div class="col s12 m12 l5 valign-wrapper">
			<label class="settings-label valign col s6" data-bind="text:label"></label>
			<a class="waves-effect waves-light btn-flat settings-key col s12" data-bind="keybind:hotkey">
				<span class="settings-label" data-bind="text:hotkey"></span>
				<input type="text" class=" settings-input" data-bind="value:hotkey">
			</a>
		</div>
	</div>
</section>