html {
    min-height: 100%;
    height: 100%;
}
body {
    min-height: 100%;
    height: 100%;
}
hr {
    display: block;
    border: 0;
    border-top: 1px solid $border-color;
    margin: 0px;
    padding: 0;
}
.content {
    z-index: 50;
    overflow: auto;
    height: 100%;
    flex-grow: 1;
    backface-visibility: hidden;
    transition: .3s ease all;
    background-color: #fff;
}


.progress{
    margin:0px;
}

.cbutton {
    position: relative;
    display: inline-block;
    // margin: 1em;
    padding: 0;
    border: none;
    background: none;
    transition: color 0.7s;
}

.cbutton.cbutton--click,
.cbutton:focus {
    outline: none;
    color: #fff;
    background-color: rgba(#fff, 0) !important;
}

.cbutton__icon {
    display: block;
}

.cbutton__text {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.cbutton::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -35px 0 0 -35px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
}
.cbutton--effect-boris::after {
    background: rgba(#fff,0.3);
}

.cbutton--effect-boris.cbutton--click::after {
    animation: anim-effect-boris 0.3s forwards;
}

@keyframes anim-effect-boris {
    0% {
        transform: scale3d(0.3, 0.3, 1);
    }
    25%, 50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale3d(1.2, 1.2, 1);
    }
}
