.bookmark-btn {
	margin-right:15px;
}


.selected-folder {
	padding-bottom:3px !important;
}

.manga-list .input-field input[type=search] ~ .material-icons{
	top:10px;
}

.selected-label{
	@extend .indigo-text, .text-lighten-2;
}



#mangalist {
	display:flex;
	flex-wrap:wrap;	
	justify-content:start;
	overflow:hidden;
	align-items:stretch;
	.extra {
		flex-basis:250px;
		flex-grow:100;
		flex-shrink:1;
	}
	.manga{
		flex-basis:250px;
		margin: 5px;
		flex-grow:1;
		margin-bottom:5px;
		
		.manga-content{
			position:relative;
			height:100%;
			.image-container{
				display:flex;
				background-color: rgba(black, .3);
				align-items:center;
				.manga-image {
					width:100%;						
					cursor:pointer;
				}
			}
			
			.info{
				position:absolute;
				left: 0px;
				right: 0px;
				bottom: 0px;
				background-color: rgba(black, 0.5);
				color:#fff;
				display:flex;
				align-items:center;
				height:50px;
				padding: 0px 5px;
				// width:100%;

				.title{
					flex-grow:8;
					font-size:16px;
					margin-right:8px;
					@extend .truncate;
				}
				.action {
					flex-grow:2;
					flex-shrink:0;
					cursor:pointer;				
					// transition: .25s;
					&:hover{
						// color: #304ffe; 
						// opacity: 0.5;
					}
				}
			}
		}
	}
}
	
