@import "_variables.scss";
@import "~materialize-css/sass/materialize.scss";
@import "~material-design-icons-iconfont/dist/material-design-icons.scss";
@import "~perfect-scrollbar/dist/css/perfect-scrollbar.min.css";
@import "./common.scss";
@import "./sidebar.scss";
@import "./manga-list.scss";
@import "./topbar.scss";
@import "./settings-page.scss";


.no-flick{transform:translate3d(0,0,0);}

#toast-container {
  top: 10% !important;
  right: auto !important;
  bottom: auto !important;
  left:50%;  
}
