$roboto-font-path: "~materialize-css/fonts/roboto/";
$material-design-icons-font-path: "~material-design-icons-iconfont/dist/fonts/";
$primary-color: #3f51b5;
$secondary-color: #ffab00;
$text-color: lighten(black, 30%);
$border-color: #e5e5e5;
$font-size: 14px;

@import "~materialize-css/sass/materialize.scss";
@import "~material-design-icons-iconfont/dist/material-design-icons.scss";
@import "./common.scss";
@import "./sidebar.scss";
@import "./manga-list.scss";
@import "./topbar.scss";


.no-flick{-webkit-transform:translate3d(0,0,0);}

#toast-container {
  top: 10% !important;
  right: auto !important;
  bottom: auto !important;
  left:50%;  
}
