.topbar {
  text-align: center;
  // padding: 7px 10px;
  color: #fff;
  font-size: 24px;
  display: flex;
  align-items:center;

}
.topbar-text {
	max-width:33%;
	@extend .truncate;
	display:inline-block;
}
.topbar {
	.title-text{
		flex-grow:1;
	}
	.control{
		line-height:0px;
		cursor: pointer;
		// font-size: 42px;
	}
	.favorite{
		line-height:0px;
		cursor: pointer;
		// font-size: 30px;
	}
}

.center.page-controls{
    position: absolute;
    display: inline-block;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
}

nav a {
	-webkit-app-region: no-drag;
}
