.view-manga{
	width:100%;
	height:100%;
	// display:flex;
	&.fit-width{
		// flex-direction: column;	
		.manga-page {
			width:100%;
		}
	}
	&.fit-height{
		.manga-page{
			height:100%;
			width:auto;
		}
	}
	&.normal {		
		
	}
	&.zoom {
		.manga-page{
			transform:scale(2);
			transform-origin: top center;
		}
	}
}

.manga-page{
	// flex-grow:1;
	margin:0 auto;
	display:block;
	// transition:.25s;
}
