#about-modal {
    width: 480px;
    .header {
        
        color:$primary-color;
    }
    .help-icon {
        color:$primary-color;
        margin-right:8px;        
        @extend  .small;
    }
    .modal-footer {
        display: flex;
        justify-content: center;
    }
}