#error-modal {
    width: 300px;
    .error-message {
        font-size: 12px;
        word-wrap: break-word;
    }
    .error-icon {
        margin-right:8px;
        @extend .red-text;
        @extend  .small;
    }
}