@import "_variables.scss";
@import "~materialize-css/sass/materialize.scss";
@import "~material-design-icons-iconfont/dist/material-design-icons.scss";
@import "~perfect-scrollbar/dist/css/perfect-scrollbar.min.css";
@import "./common.scss";
@import "./sidebar.scss";
@import "./manga-list.scss";
@import "./topbar.scss";
@import "./settings-page.scss";
@import "./error-dialog.scss";

.no-flick{transform:translate3d(0,0,0);}

#toast-container {
  top: 10% !important;
  right: auto !important;
  bottom: auto !important;
  left:50%;  
}

.title-bar {
	color : #fff;
	height: 24px;	
	.product-logo {
		margin-left: 8px;
		margin-right: 8px;
		max-width:16px;
		max-height:16px;
	}
	.app-title {
		flex-grow: 1;
		font-size:12px;
	}
	.button-icon {
		color : #fff;
		height: 24dp;		
		padding: 0px 5px;
		&:hover {
			background-color: darken($primary-color, 20%);
			// color: $primary-color;
			transition: background-color .2s;
			
		}
		-webkit-app-region: no-drag;	
	}
	.close-icon {
		color : #fff;
		height: 24dp;		
		padding: 0px 5px;
		&:hover {
			background-color: #d50000;
			transition: background-color .2s
		}
		-webkit-app-region: no-drag;
	}
}
