$sidebar-background: #fff;
body {
    display:flex;
    flex-direction: column;
}
.wrapper {
    position: relative;
    overflow: hidden;
    height: calc(100% - 69px);
    width: 100%;
    flex-grow:1;
}
.canvas {
    height: 100%;
    background-color: #fff;
    position: relative;
    display: flex;
}
.sidebar {
    height: 100%;
    width: 0px;
    background-color: #fff;
    border-right: 1px solid $border-color;
    transition: .3s ease all;
    backface-visibility: hidden;
    z-index: 10;
    display: flex;
    flex-direction: column;
    font-size:13px;
    .collection {
        margin: 0px;
        // border-bottom: 0px !important;
        // border-left: 0px !important;
        // border-right: 0px !important;
        border:0px;
        flex-shrink: 0;
        width: 299px;
    
        .material-icons {
            line-height: inherit;
        }
    }
}

.sidebar-favortites {
    border-top: 0px !important;

}


.sidebar-directory.list {
    flex-grow: 1;
    flex-shrink:1;
}

.sidebar-settings, 
.sidebar-directory-header, 
.sidebar-favorites.with-header, 
.sidebar-favorites-manga {
    .collection-item {
        padding: 10px 16px !important;
    }
}
.sidebar-directory {
    flex-shrink: .5;
    overflow-y: hidden;
    &:hover{
        overflow-y:scroll;
    }
}
.sidebar-directory, .sidebar-favorites-items{
    .collection-item {
        transition: .25s;
        cursor: pointer;
        width:100%;
        &:not(.active):hover {
            background-color: #ddd;
        }
        &.active {
            color: #fff !important;
        }
        // @extend .grey-text; 
        color: rgba(black, .54);
        border-bottom:none !important;

    }
}

.show-nav .sidebar {
    width: 300px;
    z-index: 51
}
